@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.carter-one-regular {
    font-family: "Carter One", system-ui;
    font-weight: 100 !important;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 33px !important;
    text-transform: uppercase;

    transform: skewX(-20deg);
    /* forward bend */
    display: inline-block;
    /* important for transform to apply cleanly */

}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Carter+One&family=Macondo&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&display=swap');

.macondo-regular {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}